<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>author</key>
		<string>Damian Stewart</string>
		<key>name</key>
		<string>Where</string>
		<key>description</key>
		<string>A variable-length, variable-intensity composition. Uses the sonic activity around you to govern musical development. Try going for a walk down a busy urban street.</string>
		<key>category</key>
		<string>Walk</string>
	</dict>
</dict>
</plist>
