<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>author</key>
		<string>Frank Barknecht</string>
		<key>description</key>
 		<string>Gridwalker is an algorithmic composition whose parameters are influenced by changes in the environment soundscape. This scene uses sound input. Try it when your environment is quiet and change it to loud.</string>
		<key>name</key>
		<string>Gridwalker</string>
		<key>category</key>
		<string>Listen</string>
	</dict>
</dict>
</plist>
