<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>author</key>
		<string>Damian Stewart</string>
		<key>description</key>
		<string>Noia reacts on the sonic environment. It uses samples of sounds around you to combine them with deep bass and a crazy drums. Includes drum samples by Rutger Muller (user 'rutgermuller' on freesound.org).</string>
		<key>name</key>
		<string>Noia</string>
	</dict>
</dict>
</plist>
