<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>author</key>
		<string>Enrique Erne</string>
		<key>description</key>
		<string>Oldschool techno track rjdj'ified </string>
		<key>name</key>
		<string>The White Room Remix</string>
		<key>category</key>
		<string>Move</string>
	</dict>
</dict>
</plist>
