<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
        <key>author</key>
		<string>Frank Barknecht</string>
		<key>description</key>
        <string>Keep on smiling!</string>
		<key>name</key>
		<string>Smile</string>
		<key>category</key>
		<string>Touch</string>
	</dict>
</dict>
</plist>
