<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>author</key>
		<string>Damian Stewart</string>
		<key>name</key>
		<string>FSCKYOU</string>
		<key>description</key>
		<string>GET ANGRY</string>
		<key>category</key>
		<string>Swear</string>
	</dict>
</dict>
</plist>
