<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>info</key>
    <dict>
        <key>author</key>
        <string>%s</string>
        <key>description</key>
        <string>%s</string>
        <key>name</key>
        <string>%s</string>
        <key>category</key>
        <string>RJC</string>
    </dict>
</dict>
</plist>