<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>author</key>
		<string>Amaury Hazan</string>
		<key>description</key>
		<string>Old school drumming and scratching. The more and the longer you shake the more you get from the scene. Try to move slowly and shake hard in all directions.</string>
		<key>name</key>
		<string>YouScratch</string>
		<key>category</key>
		<string>Shake</string>
	</dict>
</dict>
</plist>
