<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>author</key>
		<string>Gunter Geiger</string>
		<key>description</key>
		<string>What wha wha. Can can't it se se se make. Boom. Samples and loops the world. Heavy use of sound input.</string>
		<key>name</key>
		<string>Loopinger</string>
	</dict>
</dict>
</plist>
