<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
        <key>author</key>
		<string>Frank Barknecht</string>
		<key>description</key>
        <string>listen to the grains of wheat

Shake the phonepod to change the settings.

Cover: Wheat, Pennsylvania
Collier, John, 1913- photographer.
CREATED/PUBLISHED 1943 July - Public Domain
        </string>
		<key>name</key>
		<string>Weizen</string>
		<key>category</key>
		<string>Microphone</string>
	</dict>
</dict>
</plist>
